<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EVIS UAE</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/Scripts/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/fonts/ionicons.min.css">
    <link rel="stylesheet" href="~/Scripts/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Scripts/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Scripts/plugins/iCheck/flat/blue.css">
    <link rel="stylesheet" href="~/Scripts/plugins/morris/morris.css">
    <link rel="stylesheet" href="~/Scripts/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Scripts/plugins/datepicker/datepicker3.css">
    <link rel="stylesheet" href="~/Scripts/plugins/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="~/Scripts/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="~/Content/css-admin/reset.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css-admin/grid.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css-admin/styles.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css-admin/jquery.wysiwyg.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css-admin/tablesorter.css" media="screen" />
    <link rel="stylesheet" href="~/Content/css-admin/thickbox.css" media="screen" />
    <link rel="stylesheet" href="~/css-admin/theme-blue.css" media="screen" />
    <link rel="stylesheet" href="~/Content/toastr.min.css">
    <link rel="stylesheet" href="~/Content/toastr-custom.css">

    <script src="~/Scripts/js/lumino.glyphs.js"></script>
    <script type="text/javascript" src="~/Content/css-admin/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="~/Content/css-admin/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="~/Content/css-admin/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="~/Content/css-admin/jquery.tablesorter.pager.js"></script>
    <script type="text/javascript" src="~/Content/css-admin/jquery.pstrength-min.1.2.js"></script>
    <script type="text/javascript" src="~/Content/css-admin/thickbox.js"></script>

    @* TODO Vipin: Its showing error once including angular js directly. Need to fix it  *@
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>

    @*<script src="~/Scripts/Plugin/angular.js"></script>
    <script src="~/Scripts/Plugin/angular-ui/angular-animate.js"></script>
    <script src="~/Scripts/Plugin/angular-ui/ui-bootstrap-tpls-1.1.2.js"></script>*@

    <script type="text/javascript" src="~/Scripts/Plugin/jquery-2.2.0.min.js"></script>
    <script src="~/Content/toastr.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/VMSSystemApp.js"></script>

    <script src="~/Scripts/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/morris/morris.min.js"></script>
    <script src="~/Scripts/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Scripts/plugins/knob/jquery.knob.js"></script>
    <script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/Scripts/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/plugins/fastclick/fastclick.js"></script>
    <script src="~/Scripts/dist/js/app.min.js"></script>
    <script src="~/Scripts/dist/js/demo.js"></script>

    <script>
        jQuery(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": false,
                "positionClass": "toast-custom",
                "onclick": null,
                "showDuration": "3000",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        });
    </script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/Dashboard/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>EVIS&nbsp;</b>UAE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Scripts/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Anith RAJ</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Scripts/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        Anith RAJ - Web Developer
                                        <small>EVIS UAE </small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/Master/MyProfile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Master/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    @* <div class="pull-left image">
                             <img src="~/Scripts/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                         </div>
                        <div class="pull-left info">
                             <p>Anith RAJ</p>
                             <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                         </div>*@<div class="pull-left image">
                        <img src="~/Scripts/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p></p>
                        <a href="#"><i class="fa fa-circle text-success"></i></a>
                    </div>
                </div>
                <!-- search form -->
                @*<form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>*@<form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active treeview">
                        <a href="~/Dashboard/Index">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-fw fa-users"></i><i class=""></i>
                            <span>Administration</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/Master/FacilityProfile"><i class="fa fa-user"></i>Client Profile</a></li>
                            <li><a href="~/Master/Buildings"><i class="fa fa-building"></i>Manage Buildings</a></li>
                            <li><a href="~/Master/Gates"><i class=""></i>Manage Gates</a></li>
                            <li><a href="~/Master/ManageUsers"><i class="fa fa-users"></i> Manage User</a></li>
                            <li><a href="~/Master/NewShift"><i class=""></i>Manage Shift</a></li>
                            <li><a href="~/Master/ShiftAssignment"><i class=""></i>Manage Shift Assignment</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class=""></i>
                            <span>Visitor</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/Visitor/ScanVisitorCard"><i class=""></i> Scan Visitor Card</a></li>
                            <li><a href="~/Visitor/AddVisitorManually"><i class=""></i> Add Visitor Manually</a></li>
                            <li><a href="~/Visitor/VisitorList"><i class=""></i> Visitors Detail</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class=""></i>
                            <span>Reporting</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/Visitor/ScanVisitorCard"><i class=""></i>Visitor Details</a></li>
                            <li><a href="~/Visitor/AddVisitorManually"><i class=""></i>Shift Details</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
        <footer class="main-footer">
            <strong>Copyright &copy; 2015-2016 <a href="#">Evis UAE</a>.</strong> All rights
            reserved.
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
</body>
</html>
