
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/Plugin/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugin/angular.min.js"></script>
    
    @*<script type="text/javascript" src="~/Scripts/Plugin/angular-route.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugin/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugin/angular-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugin/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugin/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Plugin/angular-block-ui.js"></script>*@

    <script type="text/javascript" src="~/Scripts/Application/LearningSystemApp.js"></script>

    @*<script type="text/javascript" src="~/Scripts/Application/AjaxService.js"></script>
    <script type="text/javascript" src="~/Scripts/Application/AlertService.js"></script>*@
</head>
<body>

    <div ng-app="_app">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

</body>
</html>