/Evis.VisitorManagement.Business/bin
/Evis.VisitorManagement.Business/obj
/Evis.VisitorManagement.Common/bin
/Evis.VisitorManagement.Common/obj
/Evis.VisitorManagement.Data/bin
/Evis.VisitorManagement.Data/obj
/Evis.VisitorManagement.Data.Model/bin
/Evis.VisitorManagement.Data.Model/obj
/Evis.VisitorManagement.Utilities/bin
/Evis.VisitorManagement.Utilities/obj
/Evis.VisitorManagement.Web/bin
/Evis.VisitorManagement.Web/obj
/*.suo
