@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div ng-controller="buildingController">
    <!-- Content Wrapper. Contains page content -->
    @* This for Add/Edit User *@
    <div id="addEditSection" style="display:none">
        <div class="content-wrapper">
            <style type="text/css">
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            </style>
            <section class="content">
                <div class="row">
                    <form name="buildingForm"
                          ng-model="building" novalidate>
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Building Information</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="name">Building Name:</label>
                                        <input type="text" class="form-control" id="name" name="name" ng-model="building.name" placeholder="Building Name"
                                               tabindex="1" required>
                                        <span style="color:red" ng-show="buildingForm.name.$invalid">
                                            <span ng-show="buildingForm.name.$error.required">Building Name is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" rows="3" id="description" name="description" placeholder="Description..." ng-model="building.description"></textarea>
                                        <span style="color:red" ng-show="buildingForm.description.$invalid">
                                            <span ng-show="buildingForm.description.$error.required">Phone Number is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input type="number" class="form-control" tabindex="5" id="phoneNumber" name="phoneNumber" ng-model="building.phoneNumber" placeholder="Phone Number" required>
                                        <span style="color:red" ng-show="buildingForm.phoneNumber.$invalid">
                                            <span ng-show="buildingForm.phoneNumber.$error.required">Phone Number is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="zipcode">Zip Code</label>
                                        <input type="number" class="form-control" id="zipcode" name="zipcode" ng-model="building.zipcode" placeholder="Zip Code" required>
                                        <span style="color:red" ng-show="buildingForm.zipcode.$invalid">
                                            <span ng-show="buildingForm.zipcode.$error.required">Zipcode is required.</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Building Location</label>
                                        <select class="form-control" ng-model="building.buildingLocationId" tabindex="6" ng-change="OnChange()" ng-options="item.Id as item.Name for item in allBuildingLocations">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" rows="3" id="address" name="address" placeholder="Address ..." ng-model="building.address"></textarea>
                                        <span style="color:red" ng-show="buildingForm.address.$invalid">
                                            <span ng-show="buildingForm.address.$error.required">Phone Number is required.</span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" tabindex="3" id="email" name="email" ng-model="building.email" placeholder="Email" required>
                                        <span style="color:red" ng-show="buildingForm.email.$invalid">
                                            <span ng-show="buildingForm.email.$error.required">Email is required.</span>
                                        </span>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <button type="submit" tabindex="9" style="float:right;" class="btn btn-primary" ng-click="Submit()">
                                            Submit
                                        </button>
                                        &nbsp; &nbsp;
                                        <button type="button" tabindex="10" style="float:right;" class="btn btn-primary" ng-click="Cancel()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    @* For Displaying the Users *@
    <div id="displayBuildings">
        <div class="content-wrapper">
            <div class="container_12">
                <div class="module">
                    <h2><span>New Building Registration</span></h2>
                    <div class="module-table-body">
                        <button style="float:right;margin:5px;" class="btn btn-primary" ng-click="NewBuilding()">New Building</button>
                        <table id="myTable" class="tablesorter">
                            <thead>
                                <tr>
                                    <th style="width:20%">Building Name</th>
                                    <th style="width:21%">Building Location</th>
                                    <th style="width:13%">Address</th>
                                    <th style="width:13%">Phone Number</th>
                                    <th style="width:15%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="building in allBuildings">
                                    <td>{{building.Name}}</td>
                                    <td>{{building.BuildingLocation.Name}}</td>
                                    <td>{{building.Address}}</td>
                                    <td>{{building.PhoneNumber}}</td>
                                    <td>
                                        <a href="" ng-click="Edit(building.Id)"><img src="~/Content/css-admin/pencil.gif" title="Edit" width="16" height="16" alt="Edit" /></a>
                                        <a href="" ng-click="Delete(building.Id)"><img src="~/Content/css-admin/bin.gif" title="Delete" width="16" height="16" alt="Delete" /></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Controllers/BuildingController.js"></script>
