
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <style type="text/css">
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>

    <section class="content">
        <div class="row">
            <div class="box-header with-border">
                <h3 class="box-title">New Client Registration</h3>
            </div>
            <!-- left column -->
            <form ng-app="app" ng-controller="registerController" name="registerForm" ng-model="register" novalidate>
                <div class="col-md-6">
                    
                    <!-- general form elements -->
                    <div class="box box-primary">
                        
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            @*<div class="form-group">
                                <label for="exampleInputFname">First Name:</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" ng-model="register.firstName" placeholder="First Name" required>
                                <span style="color:red" ng-show="registerForm.firstName.$dirty && registerForm.firstName.$invalid">
                                    <span ng-show="registerForm.firstName.$error.required">First Name is required.</span>
                                </span>
                            </div>*@


                            <div class="form-group">
                                <label for="exampleCompanyName">Company Name:</label>
                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" ng-model="register.CompanyName" placeholder="Company Name" required>
                                <span style="color:red" ng-show="registerForm.firstName.$dirty && registerForm.firstName.$invalid">
                                    <span ng-show="registerForm.CompanyName.$error.required">Company Name is required.</span>
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDescription">Description</label>
                                <textarea class="form-control" rows="2" id="description" name="description" placeholder="description ..." ng-model="register.description"></textarea>
                            </div>

                            

                            <div class="form-group">
                                <label for="exampleInputMobileContact">Mobile No</label>
                                <input type="number" class="form-control" id="mobileContact" name="mobileContact" ng-model="register.mobileContact" placeholder="Mobile No" required>
                                <span style="color:red" ng-show="registerForm.mobileContact.$dirty && registerForm.mobileContact.$invalid">
                                    <span ng-show="registerForm.mobileContact.$error.required">Mobile Number is required.</span>
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="exampleFax">Fax</label>
                                <input type="number" class="form-control" id="fax" name="fax" ng-model="register.fax" placeholder="Fax" required>
                                <span style="color:red" ng-show="registerForm.fax.$dirty && registerForm.fax.$invalid">
                                    <span ng-show="registerForm.fax.$error.required">Fax is required.</span>
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputWebsite">Website:</label>
                                <input type="text" class="form-control" id="website" name="website" ng-model="register.website" placeholder="Website" required>
                                <span style="color:red" ng-show="registerForm.website.$dirty && registerForm.website.$invalid">
                                    <span ng-show="registerForm.website.$error.required">Website is required.</span>
                                </span>
                            </div>

                            @*<div class="form-group">
                                <label>Privilage</label>
                                <select class="form-control" ng-model="register.privilageId" ng-change="OnChange()" ng-options="item.Id as item.Name for item in allPrivilage">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">Browse Image</label>
                                <input type="file" id="exampleInputFile">
                            </div>*@
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->
                <!-- right column anith -->
                <div class="col-md-6">

                    <div class="box box-primary">
                        
                        <!-- /.box-header -->
                        <!-- form start -->

                        <div class="box-body">
                            @*<div class="form-group">
                                <label for="exampleInputLastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" ng-model="register.lastName" placeholder="Last Name" required>
                                <span style="color:red" ng-show="registerForm.lastName.$dirty && registerForm.lastName.$invalid">
                                    <span ng-show="registerForm.lastName.$error.required">Phone Number is required.</span>
                                </span>
                            </div>*@

                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="email" name="email" ng-model="register.email" placeholder="Email" required>
                                <span style="color:red" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                                    <span ng-show="registerForm.email.$error.required">Email is required.</span>
                                </span>
                            </div>
                            
                            <div class="form-group">
                                <label for="exampleInputContact">Contact No</label>
                                <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" ng-model="register.phoneNumber" placeholder="Contact No" required>
                                <span style="color:red" ng-show="registerForm.phoneNumber.$dirty && registerForm.phoneNumber.$invalid">
                                    <span ng-show="registerForm.phoneNumber.$error.required">Phone Number is required.</span>
                                </span>
                            </div>
                            


                            



                            @*<div class="form-group">
                                <label for="exampleInputLGender">Gender</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                        Male
                                    </label>
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                        Female
                                    </label>
                                </div>

                            </div>*@
                            <div class="form-group">
                                <label for="exampleInputAddress">Address</label>
                                <textarea class="form-control" rows="3" id="address" name="address" placeholder="Address ..." ng-model="register.address"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleZipcode">Zip Code</label>
                                <input type="number" class="form-control" id="zipcode" name="zipcode" ng-model="register.zipcode" placeholder="Zipcode" required>
                                <span style="color:red" ng-show="registerForm.zipcode.$dirty && registerForm.zipcode.$invalid">
                                    <span ng-show="registerForm.zipcode.$error.required">Zipcode is required.</span>
                                </span>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" style="float:right;" class="btn btn-primary" ng-click="Submit()">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>

    <script>
        var app = angular.module('app', []);
        app.controller('registerController', function ($scope, $http) {
            $scope.register = {};
            $scope.register.firstName = 'First Name';
            $scope.register.lastName = 'Last Name';
            $scope.register.email = 'Email';
           // $scope.register.phoneNumber = ;
            $scope.register.address = "Address";

            $scope.register.privilageId = null;
            $scope.allPrivilage = [];

            $http({
                method: 'GET',
                url: '/Api/AccountApi/GetAllPrivilages'
            }).success(function (result) {
                $scope.allPrivilage = result;
            });

            $scope.OnChange = function () {

            }

            $scope.Submit = function () {
                debugger;

                var viewModel = {
                    "FirstName": $scope.register.firstName,
                    "LastName": $scope.register.lastName,
                    "Email": $scope.register.email,
                    "PhoneNumber": $scope.register.phoneNumber,
                    "PrivilageId": $scope.register.privilageId,
                    "Address": $scope.register.addressId
                };

                //alert(JSON.stringify(viewModel));

                $http.post(
                    '/Api/AccountApi/Register',
                    JSON.stringify(viewModel),
                    {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                ).success(function (data) {
                    window.location.href = '@Url.Action("Index", "Dashboard")';
                    console.log('success post');
                }).error(function () {
                    //debugger;
                    $scope.error.$invalid = "An Error has occured";
                });
            };
        });
    </script>
</div>

