@{
    ViewBag.Title = "Gates";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<div ng-controller="gateController">
    <!-- Content Wrapper. Contains page content -->
    @* This for Add/Edit User *@
    <div id="addEditSection" style="display:none">
        <div class="content-wrapper">
            <style type="text/css">
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            </style>

            <section class="content">
                <div class="box-header with-border">
                    <h3 class="box-title">{{headerText}}</h3>
                </div>
                <div class="row">
                    <!-- left column -->
                    <form name="gateForm" ng-model="gate" novalidate ng-submit="gateForm.$valid && Submit()">
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Building Name</label>
                                        <select class="form-control" id="buildingId" name="buildingId" ng-model="gate.buildingId" tabindex="1" ng-change="OnChangeBuilding(gate.buildingId)"
                                                ng-options="key as value for  (key , value) in allBuildingName" required>
                                            <option value="">-- Select Building--</option>
                                        </select>
                                        <span style="color:red" ng-show="gateForm.buildingId.$invalid">
                                            <span ng-show="gateForm.buildingId.$error.required">Country is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" tabindex="2" rows="3" id="description" name="description" placeholder="Description..." ng-model="gate.description"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="gateNumber">Gate Number</label>
                                        <input type="number" class="form-control" tabindex="3" id="gateNumber" name="gateNumber" ng-model="gate.gateNumber" placeholder="Gate Number"
                                               ng-maxlength="4" required>
                                        <span style="color:red" ng-show="gateForm.gateNumber.$invalid">
                                            <span ng-show="gateForm.gateNumber.$error.required">Gate Number is required.</span>
                                            <span ng-show="gateForm.gateNumber.$error.maxlength">Gate Number is maximum of 4 digits.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="phoneNumber">Contact No</label>
                                        <input type="number" class="form-control" tabindex="4" id="phoneNumber" name="phoneNumber" ng-model="gate.phoneNumber" placeholder="Phone Number"
                                               ng-minlength="9" ng-maxlength="9" required>
                                        <span style="color:red" ng-show="gateForm.phoneNumber.$invalid">
                                            <span ng-show="gateForm.phoneNumber.$error.required">Contact No is required.</span>
                                            <span ng-show="gateForm.phoneNumber.$error.minlength">Phone Number must be of 9 digits.</span>
                                            <span ng-show="gateForm.phoneNumber.$error.maxlength">Phone Number  must be of 9 digits.</span>
                                        </span>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column anith -->

                        <div class="col-md-6">
                            <div class="box box-primary">
                                <!-- /.box-header -->
                                <!-- form start -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Region</label>
                                        <select class="form-control" tabindex="5" id="region" name="region" ng-model="gate.region" tabindex="6" ng-change="OnChangeRegion(gate.region)" required>
                                            <option value="">-- Select Region--</option>
                                            <option ng-repeat="(key, value) in allRegions" value="{{key}}">{{key}}</option>
                                        </select>
                                        <span style="color:red" ng-show="gateForm.region.$invalid">
                                            <span ng-show="gateForm.region.$error.required">Region is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-control" id="country" tabindex="6" name="country" ng-model="gate.country" tabindex="6" ng-change="OnChangeCountry(gate.country)" required>
                                            <option value="">-- Select Country--</option>
                                            <option ng-repeat="(key, value) in allCountries" value="{{value}}">{{value}}</option>
                                        </select>
                                        <span style="color:red" ng-show="gateForm.country.$invalid">
                                            <span ng-show="gateForm.country.$error.required">Country is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label>State</label>
                                        <select class="form-control" id="state" tabindex="7" name="state" ng-model="gate.state" tabindex="6" ng-change="OnChangeState(gate.state)" required>
                                            <option value="">-- Select State--</option>
                                            <option ng-repeat="(key, value) in allStates" value="{{value}}">{{value}}</option>
                                        </select>
                                        <span style="color:red" ng-show="gateForm.state.$invalid">
                                            <span ng-show="gateForm.state.$error.required">Country is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label>City</label>
                                        <select class="form-control" id="city" tabindex="8" name="city" ng-model="gate.city" tabindex="6" required>
                                            <option value="">-- Select City--</option>
                                            <option ng-repeat="(key, value) in allCities" value="{{value}}">{{value}}</option>
                                        </select>
                                        <span style="color:red" ng-show="gateForm.state.$invalid">
                                            <span ng-show="gateForm.state.$error.required">Country is required.</span>
                                        </span>
                                    </div>


                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <input type="submit" tabindex="12" style="float:right;" class="btn btn-primary" value="{{submitButtonText}}" />
                                    &nbsp; &nbsp;
                                    <button type="button" tabindex="11" style="float:right;" class="btn btn-primary" ng-click="Cancel()">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </section>
        </div>
    </div>

    @* For Displaying the Users *@
    <div id="displayGates">
        <div class="content-wrapper">
            <div class="box-header with-border">
                <h3 class="box-title">Manage Gates</h3>
            </div>
            <div class="container_12">
                <div class="module">
                    <div class="module-table-body">
                        <button style="float:right;margin:5px;" class="btn btn-primary" ng-click="NewGate()">New Gate</button>
                        <table id="myTable" class="tablesorter">
                            <thead>
                                <tr>
                                    <th style="width:20%">Building Name</th>
                                    <th style="width:21%">Building Location</th>
                                    <th style="width:13%">Description</th>
                                    <th style="width:13%">Gate No</th>
                                    <th style="width:13%">Contact No</th>
                                    <th style="width:15%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="allGates.length != 0" ng-repeat="gate in allGates">
                                    <td>
                                        {{gate.BuildingName}}
                                    </td>
                                    <td>{{gate.Country}}</td>
                                    <td>{{gate.Description}}</td>
                                    <td>{{gate.GateNumber}}</td>
                                    <td>{{gate.PhoneNumber}}</td>
                                    <td>
                                        <a href="" ng-click="Edit(gate.Id)"><img src="~/Content/css-admin/pencil.gif" title="Edit" width="16" height="16" alt="Edit" /></a>
                                        <a href="" ng-click="Delete(gate.Id)"><img src="~/Content/css-admin/bin.gif" title="Delete" width="16" height="16" alt="Delete" /></a>
                                    </td>
                                </tr>
                                <tr ng-show="allGates.length == 0">
                                    <td colspan="6" style="text-align:center">
                                        <span> No record found </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Controllers/CountriesInformation.js"></script>
<script type="text/javascript" src="~/Scripts/Controllers/BuildingGateController.js"></script>