@model Evis.VisitorManagement.Web.ViewModel.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<script src="~/Content/assets/js/jquery.backstretch.min.js"></script>
<div class="top-content">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>EVIS UAE - </strong> Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-bottom">
                        <form ng-app="loginApp" class="login-form" ng-controller="loginController" name="loginForm" novalidate>
                            <div class="form-group">
                                <input id="Username" type="text" name="user" ng-model="user" placeholder="User Name..." class="form-username form-control" required>
                                <span style="color:red" ng-show="loginForm.user.$invalid">
                                    <span ng-show="loginForm.user.$error.required">Username is required.</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <input id="Password" type="password" name="password" ng-model="password" placeholder="Password..." 
                                       class="form-username form-control" required />
                                <span style="color:red" ng-show="loginForm.password.$invalid">
                                    <span ng-show="loginForm.password.$error.required">Password is required.</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="cbSavePassword" ng-model="isPasswordSave" ng-checked="isPasswordSave" /> Remember Me
                            </div>
                            <div class="form-group">
                                <button id="btnSubmit" type="button" class="btn" ng-click="SignIn()"
                                        ng-disabled="loginForm.user.$invalid || loginForm.email.$invalid">
                                    Sign In
                                </button>
                                <span style="color:red" ng-show="loginForm.error.$invalid">
                                    <span ng-show="loginForm.error.$error.message">Invalid User Credentials!</span>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3>...or login with:</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript" src="~/Scripts/Controllers/LoginController.js"></script>

