@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div ng-controller="manageUsercontroller">
    <!-- Content Wrapper. Contains page content -->
    @* This for Add/Edit User *@
    <div id="addEditSection" style="display:none">
        <div class="content-wrapper">

            <style type="text/css">
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            </style>



            <section class="content">
                <div class="row">
                    <form name="registerForm"
                          ng-model="register" novalidate>
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">User Registration</h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputFname">First Name:</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" ng-model="register.firstName" placeholder="First Name"
                                               tabindex="1" required>
                                        <span style="color:red" ng-show="registerForm.firstName.$invalid">
                                            <span ng-show="registerForm.firstName.$error.required">First Name is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" tabindex="3" id="email" name="email" ng-model="register.email" placeholder="Email" required>
                                        <span style="color:red" ng-show="registerForm.email.$invalid">
                                            <span ng-show="registerForm.email.$error.required">Email is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputContact">Contact No</label>
                                        <input type="number" class="form-control" tabindex="5" id="phoneNumber" name="phoneNumber" ng-model="register.phoneNumber" placeholder="Contact No" required>
                                        <span style="color:red" ng-show="registerForm.phoneNumber.$invalid">
                                            <span ng-show="registerForm.phoneNumber.$error.required">Phone Number is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control" ng-model="register.roleId" tabindex="6" ng-change="OnChange()" ng-options="item.Id as item.Name for item in allRoles">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Browse Image</label>
                                        <input type="file" tabindex="8" id="exampleInputFile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputLastName">Last Name</label>
                                        <input type="text" class="form-control" tabindex="2" id="lastName" name="lastName" ng-model="register.lastName" placeholder="Last Name" required>
                                        <span style="color:red" ng-show="registerForm.lastName.$invalid">
                                            <span ng-show="registerForm.lastName.$error.required">Phone Number is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputLGender">Gender</label>
                                        <div class="radio">
                                            <label data-ng-repeat="gender in allGenders">
                                                <input type="radio" name="gender" tabindex="4" ng-model="register.genderId" ng-value="gender.Id">{{gender.Name}}
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputAddress">Address</label>
                                            <textarea class="form-control" rows="5" tabindex="7" id="address" name="address" placeholder="Address ..." ng-model="register.address"></textarea>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" tabindex="9" style="float:right;" class="btn btn-primary" ng-click="Submit()">
                                            Submit
                                        </button>
                                        &nbsp; &nbsp; 
                                        <button type="button" tabindex="10" style="float:right;" class="btn btn-primary" ng-click="Cancel()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    @* For Displaying the Users *@
    <div id="displayUsers">
        <div class="content-wrapper">
            <div class="container_12">
                <div class="module">
                    <h2><span>Manage User</span></h2>

                    <div class="module-table-body">
                        <form name="manageUserForm" ng-model="manageUser" novalidate>
                            <button style="float:right;margin:5px;" class="btn btn-primary" ng-click="NewUser()">New User</button>
                            <table id="myTable" class="tablesorter">
                                <thead>
                                    <tr>
                                        <th style="width:20%">Name</th>
                                        <th style="width:21%">Email Id</th>
                                        <th style="width:13%">Contact No</th>
                                        <th style="width:13%">Gender</th>
                                        <th style="width:13%">Roles</th>
                                        <th style="width:15%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in allUsers">
                                        <td>
                                            {{user.FirstName}}
                                        </td>
                                        <td>{{user.Email}}</td>
                                        <td>{{user.PhoneNumber}}</td>
                                        <td>{{user.Gender}}</td>
                                        <td>{{user.Role}}</td>
                                        <td>
                                            <a href="" ng-click="Edit(user.Id)"><img src="~/Content/css-admin/pencil.gif" title="Edit" width="16" height="16" alt="Edit" /></a>
                                            <a href="" ng-click="Delete(user.Id)"><img src="~/Content/css-admin/bin.gif" title="Delete" width="16" height="16" alt="Delete" /></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>

                        @*<div class="pager" id="pager">
                            <form action="">
                                <div>
                                    <img class="first" src="~/Content/css-admin/arrow-stop-180.gif" alt="first" />
                                    <img class="prev" src="~/Content/css-admin/arrow-180.gif" alt="prev" />
                                    <input type="text" class="pagedisplay input-short align-center" />
                                    <img class="next" src="~/Content/css-admin/arrow.gif" alt="next" />
                                    <img class="last" src="~/Content/css-admin/arrow-stop.gif" alt="last" />
                                    <select class="pagesize input-short align-center">
                                        <option value="10" selected="selected">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                    </select>
                                </div>
                            </form>
                        </div>*@
                    </div>

                    @*<pagination boundary-links="true" total-items="" items-per-page=""
                                ng-change=""
                                ng-model="" class="pagination-lg" previous-text="Prev"
                                next-text="Next" first-text="First" last-text="Last"></pagination>*@

                    @*<div class="pagination">
                        <a href="" class="button"><span><img src="~/Content/css-admin/arrow-stop-180-small.gif" height="9" width="12" alt="First" /> First</span></a>
                        <a href="" class="button"><span><img src="~/Content/css-admin/arrow-180-small.gif" height="9" width="12" alt="Previous" /> Prev</span></a>
                        <div class="numbers">
                            <span>Page:</span>
                            <a href="">1</a>
                            <span>|</span>
                            <a href="">2</a>
                            <span>|</span>
                            <span class="current">3</span>
                            <span>|</span>
                            <a href="">4</a>
                            <span>|</span>
                            <a href="">5</a>
                            <span>|</span>
                            <a href="">6</a>
                            <span>|</span>
                            <a href="">7</a>
                            <span>|</span>
                            <span>...</span>
                            <span>|</span>
                            <a href="">99</a>
                        </div>
                        <a href="" class="button"><span>Next <img src="~/Content/css-admin/arrow-000-small.gif" height="9" width="12" alt="Next" /></span></a>
                        <a href="" class="button last"><span>Last <img src="~/Content/css-admin/arrow-stop-000-small.gif" height="9" width="12" alt="Last" /></span></a>
                        <div style="clear: both;"></div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Controllers/ManageUsersController.js"></script>

