@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div ng-controller="manageUsercontroller">
    <div id="addEditSection" style="display:none">
        <div class="content-wrapper">
            <style type="text/css">
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            </style>
            <section class="content">
                <div class="box-header with-border">
                    <h3 class="box-title">{{headerText}}</h3>
                </div>
                <div class="row">
                    <form name="registerForm" ng-model="register" novalidate ng-submit="registerForm.$valid && Submit()">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputFname">First Name:</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName" ng-model="register.firstName" placeholder="First Name"
                                               tabindex="1" ng-minlength="3" ng-maxlength="15" required>
                                        <span style="color:red" ng-show="registerForm.firstName.$invalid">
                                            <span ng-show="registerForm.firstName.$error.required">First Name is required.</span>
                                            <span ng-show="registerForm.firstName.$error.minlength">First Name is required to be at least 3 characters.</span>
                                            <span ng-show="registerForm.firstName.$error.maxlength">First Name cannot be longer than 15 characters.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" tabindex="3" id="email" name="email" ng-model="register.email" placeholder="Email"
                                               ng-maxlength="30" required>
                                        <span style="color:red" ng-show="registerForm.email.$invalid">
                                            <span ng-show="registerForm.email.$error.required">Email is required.</span>
                                            <span ng-show="registerForm.email.$error.email">Invalid email format.</span>
                                            <span ng-show="registerForm.email.$error.maxlength">Email cannot be longer than 30 characters.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputContact">Contact No</label>
                                        <input type="number" class="form-control" tabindex="5" id="phoneNumber" name="phoneNumber" ng-model="register.phoneNumber"
                                               placeholder="Contact No" ng-minlength="9" ng-maxlength="9" required>
                                        <span style="color:red" ng-show="registerForm.phoneNumber.$invalid">
                                            <span ng-show="registerForm.phoneNumber.$error.required">Phone Number is required.</span>
                                            <span ng-show="registerForm.phoneNumber.$error.minlength">Phone Number must be of 9 digits.</span>
                                            <span ng-show="registerForm.phoneNumber.$error.maxlength">Phone Number  must be of 9 digits.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control" id="roleId" name="roleId" ng-model="register.roleId" tabindex="6" ng-change="OnChange()"
                                                ng-options="item.Id as item.Name for item in allRoles" required>
                                            <option value="">-- Select Role--</option>
                                        </select><span style="color:red" ng-show="registerForm.roleId.$invalid">
                                            <span ng-show="registerForm.roleId.$error.required">Role is required.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputFile">Browse Image</label>
                                        <input type="file" tabindex="8" id="exampleInputFile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputLastName">Last Name</label>
                                        <input type="text" class="form-control" tabindex="2" id="lastName" name="lastName" ng-model="register.lastName" placeholder="Last Name"
                                               ng-minlength="3" ng-maxlength="20" required>
                                        <span style="color:red" ng-show="registerForm.lastName.$invalid">
                                            <span ng-show="registerForm.lastName.$error.required">Last name is required.</span>
                                            <span ng-show="registerForm.lastName.$error.minlength">Last name is required to be at least 3 characters.</span>
                                            <span ng-show="registerForm.lastName.$error.maxlength">Last name cannot be longer than 15 characters.</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputLGender">Gender</label>
                                        <div class="radio">
                                            <label data-ng-repeat="gender in allGenders">
                                                <input type="radio" id="gender" name="gender" tabindex="4" ng-model="register.genderId" ng-value="gender.Id" required>{{gender.Name}}
                                            </label>
                                            <span style="color:red" ng-show="registerForm.gender.$invalid">
                                                <span ng-show="registerForm.gender.$error.required">Gender is required.</span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputAddress">Address</label>
                                            <textarea class="form-control" rows="5" tabindex="7" id="address" name="address" placeholder="Address ..." ng-model="register.address"></textarea>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <input type="submit" tabindex="12" style="float:right;" class="btn btn-primary" value="{{submitButtonText}}" />
                                        &nbsp; &nbsp;
                                        <button type="button" tabindex="11" style="float:right;" class="btn btn-primary" ng-click="Cancel()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div id="displayUsers">
        <div class="content-wrapper">
            <div class="box-header with-border">
                <h3 class="box-title">Users Information</h3>
            </div>
            <div class="container_12">
                <div class="module">
                    <div class="module-table-body">
                        <form name="manageUserForm" ng-model="manageUser" novalidate>
                            <button style="float:right;margin:5px;" class="btn btn-primary" ng-click="NewUser()">New User</button>
                            <table id="myTable" class="tablesorter">
                                <thead>
                                    <tr>
                                        <th style="width:5%">#</th>
                                        <th style="width:15%">Name</th>
                                        <th style="width:21%">Email Id</th>
                                        <th style="width:13%">Contact No</th>
                                        <th style="width:13%">Gender</th>
                                        <th style="width:13%">Roles</th>
                                        <th style="width:15%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-show="allUsers.length != 0" ng-repeat="user in allUsers">
                                        <td>{{$index +1}}</td>
                                        <td>
                                            {{user.FirstName}}
                                        </td>
                                        <td>{{user.Email}}</td>
                                        <td>{{user.PhoneNumber}}</td>
                                        <td>{{user.Gender}}</td>
                                        <td>{{user.Role}}</td>
                                        <td>
                                            <a href="" ng-click="Edit(user.Id)"><img src="~/Content/css-admin/pencil.gif" title="Edit" width="16" height="16" alt="Edit" /></a>
                                            <a href="" ng-click="Delete(user.Id)"><img src="~/Content/css-admin/bin.gif" title="Delete" width="16" height="16" alt="Delete" /></a>
                                            <a href="#" ng-click="ImageUpload(user.Id)">
                                                <span class="glyphicon glyphicon-picture"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-show="allUsers.length == 0">
                                        <td colspan="7" style="text-align:center">
                                            <span> No record found </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            currentPageNumber {{manageUser.CurrentPageNumber}}
                            <ul class="pagination">
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <pager num-pages="manageUser.TotalPages" current-page="manageUser.CurrentPageNumber"></pager>
                            <pagination boundary-links="true" total-items="manageUser.TotalPages" items-per-page="manageUser.PageSize" ng-change="pageChanged()"
                                        ng-model="manageUser.CurrentPageNumber" class="pagination-lg" previous-text="Prev" next-text="Next" first-text="First"
                                        last-text="Last"></pagination>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Controllers/ManageUsersController.js"></script>

