@{

    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="content-wrapper">
    <div ng-controller="Users.HomeController">
        <form class="form-inline" ng-submit="search()" role="form">
            <div class="form-group">
                <input type="text" class="form-control input-sm" ng-model="pagingInfo.search" placeholder="Search...">
                <button type="submit" class="btn btn-info btn-sm"><strong>Search</strong></button>
            </div>
        </form>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th><a href="" ng-click="sort('FirstName')">First Name</a></th>
                    <th><a href="" ng-click="sort('LastName')">Last Name</a></th>
                    <th><a href="" ng-click="sort('Username')">Username</a></th>
                    <th><a href="" ng-click="sort('Email')">Email</a></th>
                    <th><a href="" ng-click="sort('Role')">Role</a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.Username}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.Role}}</td>
                </tr>
            </tbody>
        </table>
        <uib-pagination total-items="pagingInfo.totalItems" ng-model="pagingInfo.page"
                        items-per-page="pagingInfo.itemsPerPage"
                        class="pagination-sm" boundary-links="true" ng-change="selectPage(pagingInfo.page)">

        </uib-pagination>

    </div>
</div>

<script type="text/javascript">
    'use strict';
    angular.module('app', ['ngAnimate', 'ui.bootstrap']);

    angular.module('app').controller('Users.HomeController',
        ['$scope', '$http',
            function ($scope, $http) {

                $scope.pagingInfo = {
                  page: 1,
                  itemsPerPage: 2,
                  sortBy: 'FirstName',
                  reverse: false,
                  search: '',
                  totalItems: 0,
              };

              $scope.search = function () {
                  $scope.pagingInfo.page = 1;
                  loadUsers();
              };

              $scope.sort = function (sortBy) {
                  if (sortBy === $scope.pagingInfo.sortBy) {
                      $scope.pagingInfo.reverse = !$scope.pagingInfo.reverse;
                  } else {
                      $scope.pagingInfo.sortBy = sortBy;
                      $scope.pagingInfo.reverse = false;
                  }
                  $scope.pagingInfo.page = 1;
                  loadUsers();
              };

              $scope.selectPage = function (page) {
                  console.log(page);
                  $scope.pagingInfo.page = page;
                  loadUsers();
              };

              function loadUsers() {
                  $scope.users = null;

                  $http({
                      method: 'GET',
                      url: '/Api/MasterApi/Get/',
                      params: $scope.pagingInfo,
                  }).success(function (data) {
                      $scope.users = data.data;
                      $scope.pagingInfo.totalItems = data.count;
                  });
              }

              loadUsers();
          }]);


</script>
